@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* ******************* utility classes**************/
.container{
    max-width: 1600px; ;
    width: 100%;
    margin: auto;
    background-color: rgb(216, 214, 209);
}

/*******************navbar styling**********************/
 .navbar{
    box-shadow: 0px 5px 10px 0px #301c1c;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: .85;
   z-index: 10;
}

.navbar-container{
 
    display:flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navbar input[type=checkbox],
.navbar .hamburger-lines{
    display: none;
}  
.logo{
    margin-left: 20px;
}
.nav-items{
    display: flex;
    margin-right: 2rem;
}
 .nav-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
 }
 .nav-items a{
    color: #000;
 }
 .navbar img{
    width: 110px; 
    padding-left: 2rem;
    margin-left: 10px;
 }
 /********************showcase area styling***********************/
 .showcase-area{
    height: 100vh;
    background: url(./image/doctor2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
 }

 .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
 }
/* #############display styling############## */
.display1{
   
    display: flex;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}
.disp{
    width: 200px;
    height: 100px;
   display: flex;
   box-shadow: 0px 5px 10px 0px #301c1c;
   border-radius: 10px;
}
.disp img{
    width: 50px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.disp p{
    font-size: 1.6rem;
    align-items: center;
    padding-top: 40px;
    padding-left: 10px;
   
}
/* **************display2 styling***************** */
.display2{
    /* border: 2px solid rgb(69, 69, 80); */
    display: flex;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}
.disp1{
     /* border: 2px solid brown; */
    text-align: center; 
}
.disp1 img{
    width: 100px;
   
}

.disp1 p{
    font-size: 1.2rem;
}

.bit{
    margin: 0;
    padding: 0;
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 2px solid yellow  */
}

.btn0{
    font-size: 18px;
    font-weight: 300px;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none ;
    border: 2px solid white;
    border-radius: 5px;
}
/* #####################about styling ######################*/
.about{
    height: 100vh;
  margin-top: 20px;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.abt{
    width: 600px;
    display: flex;
    padding: 20px 20px;
    margin: 20px 20px;

}

.sub-abt2 p{
   padding-top: 10px;  
   font-size: 1.2rem; 
}
.sub-abt2 h3{
    padding-top: 40px;
    font-size: 1.2rem;
}

/* ##################team styling#################### */

.team-container{
    position: relative;
}
.box-content a{
     display: inline-block;
     text-decoration: none;
     background: black;
     color: white;
     padding: 0.5em 1.2rem;
     margin-top: 0.8rem;
     transition: all 0.4s ease-in-out;
     border-radius: 5px;
}
.box-content a:hover{
    background: #232323;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.472);
}
 .box-content{
    position: absolute;
    top: 50%;
    left: 20%; 
    transform: translate(-50%, -50%);
    color:black; 
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
 }
 .team-container:hover .box-content{
    opacity: 1;
  left: 50%;
 }

.team-container::after{
content: ' ';
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.700);
opacity: 0;
z-index: 1;
transition: opacity 0.2s ease-in-out;
 }

 .team-container:hover:after{
    opacity: 1;
 }


.team{
    height: 60vh;
}
.team h2{
    font-size: 3rem;
    text-align: center;
    padding-top: 30px;
}

.team .team-container-list{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
}
.team-container img{
    width: 250px;
}
.team-container h4{
    font-size: 1.6rem;
}

.team-container p{
    font-size: 1.2rem;
}
/* ####################contact styling */
.contact{
    height: 100vh;
   
}
.contact-container{
    display: flex;
    height: 600px;
    /* background: rgb(256, 256, 256); */
     background: url(./image/contact-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.contact1{
    padding-top: 40px;
    text-align: center;
    width: 50%;
}
.contact1 h1{
    font-size: 3rem;
}
.contact1 p{
    font-size: 1.6rem;
    padding-top: 20px;
}
.contact2{
    width: 50%;
    text-align: center;
    
}
.sub-container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(189, 51, 131, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    padding: 34px;
    margin-left: 25%;
    margin-top: 10%;
}

.sub-container h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

/* .sub-container h2{
    content: '';
    position:absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #4070f4;
    border-radius: 12px;
} */

.sub-container form .input-box{
    height: 52px;
    margin: 18px 0;
}

form .input-box input,textarea{
    height: 100%;
    width: 100%;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(189, 51, 131, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
   padding: 0 15px;
   font-size: 17px;
   font-weight: 400;
   color: #333;
   border-bottom-width:2.5px ;
   /* transition:  all 0.3s ease; */
}

/* .input-box input:focus,
.input-box input:valid{
    border-color:#4070f4;
} */

.btn{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background: blue;
    color: #fff;
}

/************service styling****************** */
  .service{
    max-width: 1600px; ;
    width: 100%;
    margin: auto;
    border: 5px soild rgb(47, 61, 25);
}  
.service h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #666;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;

}
.service-list{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin: 3rem;
}

.service-img img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.service-detail{
    margin: auto 1.5rem;
}

.service-detail h3{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}
.service-detail p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
}
/* ##############footer styling########### */
.footer{
    background: #ece6e6;
    height: 55vh;
}

.footer-container{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}
.foot{
     align-self: center;
}

.foot h5{
    font-size: 2rem;
    font-weight: 1.2rem;
    padding: 10px;
}

.foot li{
    font-size: 1.6rem;
    padding: 10px;
}
.foot p{
    font-size: 1.6rem;
    padding: 20px;
}

.logos{
    padding-left: 30px;
}
.icons{
    float: rights;
    
}

.icon li{
    display: inline;
   padding-left: 10px;
}
.logos .paragraph{
    font-size: 2rem;
    
}

/* ###########media quires############### */
@media (max-width:768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines{
        display: block;
    }
 .navbar-container{
    display: block;
    position: relative;
    height: 80px;
 }
 .navbar-container input[type='checkbox']{
    position: absolute;
    display: block;
    height: 40px;
    width: 50px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
 }

 .navbar-container .hamburger-lines{
    display: block;
    height: 40px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .navbar-container .hamburger-lines .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #3333;
 }
.navbar-container .hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.navbar-container .hamburger-lines .line2{
    transition: transform 0.4s ease-in-out;
}
.navbar-container .hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .nav-items{
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5 ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
}

.navbar .nav-items li{
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
}
.logo{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 3rem;
}

.navbar-container input[type='checkbox']:checked~ .menu-items{
    transform: translate(0);
}
.navbar-container input[type='checkbox']:checked~ .hamburger-lines .line1{
    transform: rotate(45deg);
}
.navbar-container input[type='checkbox']:checked~ .hamburger-lines .line2{
    transform: scaleY(0);
}
.navbar-container input[type='checkbox']:checked~ .hamburger-lines .line3{
    transform: rotate(-45deg);
}
}

